<%= render 'shared/error_messages', object: f.object %>

<!-- Prénom -->
<div class="mb-2">
  <%= f.label :first_name, "Prénom", :class => "form-label" %>
  <%= f.text_field :first_name, :class => "form-control", :style => "width:250px;" %>
</div>

<!-- Nom -->
<div class="mb-2">
  <%= f.label :last_name, "Nom", :class => "form-label" %>
  <%= f.text_field :last_name, :class => "form-control", :style => "width:250px;" %>
</div>

<!-- Valeurs par défaut masquées (Nom entier et Genre) -->
<%= f.hidden_field :see_name, value: 1 %>
<%= f.hidden_field :sex, value: 0 %>

<!-- Année de naissance (Optionnel mais conservé léger, calé par défaut sur l'âge du Bac de Première) -->
<div class="mb-2">
  <%= f.label :year, "Année de naissance", :class => "form-label" %>
  <% liste = Array.new %>
  <% date = DateTime.now.in_time_zone %>
  <% lastyear = date.year %>
  <% (0..(lastyear-1900)).each do |i| %>
    <% liste.push(lastyear-i) %>
  <% end %>
  <%= f.select(:year, liste, { :selected => (lastyear - 16), :include_blank => (modif ? nil : "Choisir...") }, { :class => "form-select", :style => "width:120px;"}) %>
</div>

<!-- Pays masqué (On force la France) -->
<%= f.hidden_field :country_id, value: 13 %>

<!-- Email -->
<div class="mb-2">
  <%= f.label :email, "Adresse e-mail", :class => "form-label" %>
  <%= f.email_field :email, :class => "form-control", :style => "width:250px;", :disabled => (modif && !current_user.root?)  %>
</div>

<!-- Confirmation e-mail -->
<% if !modif %>
<div class="mb-2">
  <%= f.label :email_confirmation, "Confirmez votre e-mail", :class => "form-label" %>
  <%= f.email_field :email_confirmation, :class => "form-control", :style => "width:250px;" %>
</div>

<div style="display:none;" aria-hidden="true">
  <%= label_tag :middle_name, "Ne remplissez pas ce champ" %>
  <%= text_field_tag :middle_name, nil, autocomplete: "off", class: "form-control" %>
</div>
<% end %>

<% if !modif || @user == current_user %>
  <%= render "password_inputs", f: f, show_placeholders: modif %>
<% end %>

<!-- Bypass Captcha actif -->
<% if !modif && !Rails.env.test? %>
  <%#= render 'users/captcha' %>
<% end %>

<!-- Couleur de correcteur -->
<% if modif && (@user.admin? || @user.corrector?) %>
  <div class="mb-2">
    <%= f.label :corrector_color, "Couleur de correcteur", :class => "form-label" %>
    <%= f.text_field :corrector_color, :class => "form-control", :style => "width:200px;" %>
  </div>
<% end %>

<!-- HACK RGPD & Mentions Mathraining : Tout est forcé en arrière-plan -->
<% if !modif || @user == current_user %>
  <%= f.hidden_field :accept_analytics, value: false %>
<% end %>

<% if !modif %>
  <%= hidden_field_tag "consent1", "1" %>
  <%= hidden_field_tag "consent2", "2" %>
  
  <p class="text-muted <small>En vous inscrivant, vous acceptez que Minithraining suive votre progression dans les modules de révision. Vos soumissions pour les questions "open-form" seront enregistrées et cachées des autres utilisateurs.</small></p>
<% end %>

<div class="mb-2"></div>
