<!DOCTYPE html>
<% @mt_theme = (cookies.has_key?(:dark_theme) ? 'dark' : 'light') %>
<html data-bs-theme="<%= @mt_theme %>">
  <head>
    <%# Désactivation de Google Analytics pour le développement local %>
    <%#= render 'layouts/google_analytics' %>
    
    <%= render 'layouts/mathjax' %>
    
    <title><%= yield(:title) %> | Minithraining</title>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🎓</text></svg>">
    
    <script type="application/ld+json">
      {
        "@context" : "https://schema.org",
        "@type" : "WebSite",
        "name" : "Minithraining"
      }
    </script>

    <%= render 'layouts/apple_icons' %>
    
    <%= stylesheet_link_tag 'application', :media => 'screen, projection' %>
    <%= stylesheet_link_tag 'application-print', :media => 'print' %>
    
    <%= csrf_meta_tags %>
    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="format-detection" content="telephone=no">
    
    <%= javascript_importmap_tags %>
    
    <%= render 'layouts/custom_js' %>
  </head>
  
  <body>
    <%= render 'layouts/header' %>
    <div class="container">
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %> py-2 mt-1 mb-2"><%= raw(value) %></div>
      <% end %>
      <%= yield %>
      <%= render 'layouts/footer' %>
    </div>
    
    <% if defined? @benchmark_start_time %>
      <div class="mb-3 text-center">Temps total de chargement : <b><%= ((Time.now.to_f - @benchmark_start_time.to_f) * 1000).round(1) %> ms</b></div>
    <% end %>
  </body>
</html>